/vendor/
/.idea/modules.xml
/.idea/php.iml
/.idea/php.xml
/.idea/phpspec.xml
/.idea/vcs.xml
/.idea/.gitignore
/Boun/Turkish-Phrase/0000.dev
/Imst/Turkish-Phrase/0000.dev
/Penn-Treebank/Turkish-Phrase/0000.dev
/Penn-Treebank-20/Turkish-Phrase/0000.dev
/Boun/Turkish-Phrase/0000.test
/Etstur/Turkish-Phrase/0000.test
/Gb/Turkish-Phrase/0000.test
/Imst/Turkish-Phrase/0000.test
/Penn-Treebank/Turkish-Phrase/0000.test
/Penn-Treebank-20/Turkish-Phrase/0000.test
/Pud/Turkish-Phrase/0000.test
/Boun/Turkish-Phrase/0000.train
/Etstur/Turkish-Phrase/0000.train
/Imst/Turkish-Phrase/0000.train
/Penn-Treebank/Turkish-Phrase/0000.train
/Penn-Treebank-20/Turkish-Phrase/0000.train
/Atis/Turkish-Phrase/0001.dev
/Boun/Turkish-Phrase/0001.dev
/Imst/Turkish-Phrase/0001.dev
/Penn-Treebank/Turkish-Phrase/0001.dev
/Penn-Treebank-20/Turkish-Phrase/0001.dev
/Atis/Turkish-Phrase/0001.test
/Boun/Turkish-Phrase/0001.test
/Etstur/Turkish-Phrase/0001.test
/Gb/Turkish-Phrase/0001.test
/Imst/Turkish-Phrase/0001.test
/Kenet-Examples/Turkish-Phrase/0001.test
/Penn-Treebank/Turkish-Phrase/0001.test
/Penn-Treebank-20/Turkish-Phrase/0001.test
/Pud/Turkish-Phrase/0001.test
/Atis/Turkish-Phrase/0001.train
/Boun/Turkish-Phrase/0001.train
/Etstur/Turkish-Phrase/0001.train
/Imst/Turkish-Phrase/0001.train
/Kenet-Examples/Turkish-Phrase/0001.train
/Penn-Treebank/Turkish-Phrase/0001.train
/Penn-Treebank-20/Turkish-Phrase/0001.train
/Atis/Turkish-Phrase/0002.dev
/Boun/Turkish-Phrase/0002.dev
/Imst/Turkish-Phrase/0002.dev
/Penn-Treebank/Turkish-Phrase/0002.dev
/Penn-Treebank-20/Turkish-Phrase/0002.dev
/Atis/Turkish-Phrase/0002.test
/Boun/Turkish-Phrase/0002.test
/Etstur/Turkish-Phrase/0002.test
/Gb/Turkish-Phrase/0002.test
/Imst/Turkish-Phrase/0002.test
/Kenet-Examples/Turkish-Phrase/0002.test
/Penn-Treebank/Turkish-Phrase/0002.test
/Penn-Treebank-20/Turkish-Phrase/0002.test
/Pud/Turkish-Phrase/0002.test
/Atis/Turkish-Phrase/0002.train
/Boun/Turkish-Phrase/0002.train
/Etstur/Turkish-Phrase/0002.train
/Imst/Turkish-Phrase/0002.train
/Kenet-Examples/Turkish-Phrase/0002.train
/Penn-Treebank/Turkish-Phrase/0002.train
/Penn-Treebank-20/Turkish-Phrase/0002.train
/Atis/Turkish-Phrase/0003.dev
/Boun/Turkish-Phrase/0003.dev
/Imst/Turkish-Phrase/0003.dev
/Penn-Treebank/Turkish-Phrase/0003.dev
/Penn-Treebank-20/Turkish-Phrase/0003.dev
/Atis/Turkish-Phrase/0003.test
/Boun/Turkish-Phrase/0003.test
/Etstur/Turkish-Phrase/0003.test
/Gb/Turkish-Phrase/0003.test
/Imst/Turkish-Phrase/0003.test
/Kenet-Examples/Turkish-Phrase/0003.test
/Penn-Treebank/Turkish-Phrase/0003.test
/Penn-Treebank-20/Turkish-Phrase/0003.test
/Pud/Turkish-Phrase/0003.test
/Atis/Turkish-Phrase/0003.train
/Boun/Turkish-Phrase/0003.train
/Etstur/Turkish-Phrase/0003.train
/Imst/Turkish-Phrase/0003.train
/Kenet-Examples/Turkish-Phrase/0003.train
/Penn-Treebank/Turkish-Phrase/0003.train
/Penn-Treebank-20/Turkish-Phrase/0003.train
/Atis/Turkish-Phrase/0004.dev
/Boun/Turkish-Phrase/0004.dev
/Imst/Turkish-Phrase/0004.dev
/Penn-Treebank/Turkish-Phrase/0004.dev
/Penn-Treebank-20/Turkish-Phrase/0004.dev
/Atis/Turkish-Phrase/0004.test
/Boun/Turkish-Phrase/0004.test
/Etstur/Turkish-Phrase/0004.test
/Gb/Turkish-Phrase/0004.test
/Imst/Turkish-Phrase/0004.test
/Kenet-Examples/Turkish-Phrase/0004.test
/Penn-Treebank/Turkish-Phrase/0004.test
/Penn-Treebank-20/Turkish-Phrase/0004.test
/Pud/Turkish-Phrase/0004.test
/Atis/Turkish-Phrase/0004.train
/Boun/Turkish-Phrase/0004.train
/Etstur/Turkish-Phrase/0004.train
/Imst/Turkish-Phrase/0004.train
/Kenet-Examples/Turkish-Phrase/0004.train
/Penn-Treebank/Turkish-Phrase/0004.train
/Penn-Treebank-20/Turkish-Phrase/0004.train
/Atis/Turkish-Phrase/0005.dev
/Boun/Turkish-Phrase/0005.dev
/Imst/Turkish-Phrase/0005.dev
/Penn-Treebank/Turkish-Phrase/0005.dev
/Penn-Treebank-20/Turkish-Phrase/0005.dev
/Atis/Turkish-Phrase/0005.test
/Boun/Turkish-Phrase/0005.test
/Etstur/Turkish-Phrase/0005.test
/Gb/Turkish-Phrase/0005.test
/Imst/Turkish-Phrase/0005.test
/Kenet-Examples/Turkish-Phrase/0005.test
/Penn-Treebank/Turkish-Phrase/0005.test
/Penn-Treebank-20/Turkish-Phrase/0005.test
/Pud/Turkish-Phrase/0005.test
/Atis/Turkish-Phrase/0005.train
/Boun/Turkish-Phrase/0005.train
/Etstur/Turkish-Phrase/0005.train
/Imst/Turkish-Phrase/0005.train
/Kenet-Examples/Turkish-Phrase/0005.train
/Penn-Treebank/Turkish-Phrase/0005.train
/Penn-Treebank-20/Turkish-Phrase/0005.train
/Atis/Turkish-Phrase/0006.dev
/Boun/Turkish-Phrase/0006.dev
/Imst/Turkish-Phrase/0006.dev
/Penn-Treebank/Turkish-Phrase/0006.dev
/Penn-Treebank-20/Turkish-Phrase/0006.dev
/Atis/Turkish-Phrase/0006.test
/Boun/Turkish-Phrase/0006.test
/Etstur/Turkish-Phrase/0006.test
/Gb/Turkish-Phrase/0006.test
/Imst/Turkish-Phrase/0006.test
/Kenet-Examples/Turkish-Phrase/0006.test
/Penn-Treebank/Turkish-Phrase/0006.test
/Penn-Treebank-20/Turkish-Phrase/0006.test
/Pud/Turkish-Phrase/0006.test
/Atis/Turkish-Phrase/0006.train
/Boun/Turkish-Phrase/0006.train
/Etstur/Turkish-Phrase/0006.train
/Imst/Turkish-Phrase/0006.train
/Kenet-Examples/Turkish-Phrase/0006.train
/Penn-Treebank/Turkish-Phrase/0006.train
/Penn-Treebank-20/Turkish-Phrase/0006.train
/Atis/Turkish-Phrase/0007.dev
/Boun/Turkish-Phrase/0007.dev
/Imst/Turkish-Phrase/0007.dev
/Penn-Treebank/Turkish-Phrase/0007.dev
/Penn-Treebank-20/Turkish-Phrase/0007.dev
/Atis/Turkish-Phrase/0007.test
/Boun/Turkish-Phrase/0007.test
/Etstur/Turkish-Phrase/0007.test
/Gb/Turkish-Phrase/0007.test
/Imst/Turkish-Phrase/0007.test
/Kenet-Examples/Turkish-Phrase/0007.test
/Penn-Treebank/Turkish-Phrase/0007.test
/Penn-Treebank-20/Turkish-Phrase/0007.test
/Pud/Turkish-Phrase/0007.test
/Atis/Turkish-Phrase/0007.train
/Boun/Turkish-Phrase/0007.train
/Etstur/Turkish-Phrase/0007.train
/Imst/Turkish-Phrase/0007.train
/Kenet-Examples/Turkish-Phrase/0007.train
/Penn-Treebank/Turkish-Phrase/0007.train
/Penn-Treebank-20/Turkish-Phrase/0007.train
/Atis/Turkish-Phrase/0008.dev
/Boun/Turkish-Phrase/0008.dev
/Imst/Turkish-Phrase/0008.dev
/Penn-Treebank/Turkish-Phrase/0008.dev
/Penn-Treebank-20/Turkish-Phrase/0008.dev
/Atis/Turkish-Phrase/0008.test
/Boun/Turkish-Phrase/0008.test
/Etstur/Turkish-Phrase/0008.test
/Gb/Turkish-Phrase/0008.test
/Imst/Turkish-Phrase/0008.test
/Kenet-Examples/Turkish-Phrase/0008.test
/Penn-Treebank/Turkish-Phrase/0008.test
/Penn-Treebank-20/Turkish-Phrase/0008.test
/Pud/Turkish-Phrase/0008.test
/Atis/Turkish-Phrase/0008.train
/Boun/Turkish-Phrase/0008.train
/Etstur/Turkish-Phrase/0008.train
/Imst/Turkish-Phrase/0008.train
/Kenet-Examples/Turkish-Phrase/0008.train
/Penn-Treebank/Turkish-Phrase/0008.train
/Penn-Treebank-20/Turkish-Phrase/0008.train
/Atis/Turkish-Phrase/0009.dev
/Boun/Turkish-Phrase/0009.dev
/Imst/Turkish-Phrase/0009.dev
/Penn-Treebank/Turkish-Phrase/0009.dev
/Penn-Treebank-20/Turkish-Phrase/0009.dev
/Atis/Turkish-Phrase/0009.test
/Boun/Turkish-Phrase/0009.test
/Etstur/Turkish-Phrase/0009.test
/Gb/Turkish-Phrase/0009.test
/Imst/Turkish-Phrase/0009.test
/Kenet-Examples/Turkish-Phrase/0009.test
/Penn-Treebank/Turkish-Phrase/0009.test
/Penn-Treebank-20/Turkish-Phrase/0009.test
/Pud/Turkish-Phrase/0009.test
/Atis/Turkish-Phrase/0009.train
/Boun/Turkish-Phrase/0009.train
/Etstur/Turkish-Phrase/0009.train
/Imst/Turkish-Phrase/0009.train
/Kenet-Examples/Turkish-Phrase/0009.train
/Penn-Treebank/Turkish-Phrase/0009.train
/Penn-Treebank-20/Turkish-Phrase/0009.train
/Atis/Turkish-Phrase/0010.dev
/Boun/Turkish-Phrase/0010.dev
/Imst/Turkish-Phrase/0010.dev
/Penn-Treebank/Turkish-Phrase/0010.dev
/Penn-Treebank-20/Turkish-Phrase/0010.dev
/Atis/Turkish-Phrase/0010.test
/Boun/Turkish-Phrase/0010.test
/Etstur/Turkish-Phrase/0010.test
/Gb/Turkish-Phrase/0010.test
/Imst/Turkish-Phrase/0010.test
/Kenet-Examples/Turkish-Phrase/0010.test
/Penn-Treebank/Turkish-Phrase/0010.test
/Penn-Treebank-20/Turkish-Phrase/0010.test
/Pud/Turkish-Phrase/0010.test
/Atis/Turkish-Phrase/0010.train
/Boun/Turkish-Phrase/0010.train
/Etstur/Turkish-Phrase/0010.train
/Imst/Turkish-Phrase/0010.train
/Kenet-Examples/Turkish-Phrase/0010.train
/Penn-Treebank/Turkish-Phrase/0010.train
/Penn-Treebank-20/Turkish-Phrase/0010.train
/Penn-Treebank/English/0000.dev
/Penn-Treebank-20/English/0000.dev
/Penn-Treebank/English/0000.test
/Penn-Treebank-20/English/0000.test
/Penn-Treebank/English/0000.train
/Penn-Treebank-20/English/0000.train
/Penn-Treebank/English/0001.dev
/Penn-Treebank-20/English/0001.dev
/Penn-Treebank/English/0001.test
/Penn-Treebank-20/English/0001.test
/Penn-Treebank/English/0001.train
/Penn-Treebank-20/English/0001.train
/Penn-Treebank/English/0002.dev
/Penn-Treebank-20/English/0002.dev
/Penn-Treebank/English/0002.test
/Penn-Treebank-20/English/0002.test
/Penn-Treebank/English/0002.train
/Penn-Treebank-20/English/0002.train
/Penn-Treebank/English/0003.dev
/Penn-Treebank-20/English/0003.dev
/Penn-Treebank/English/0003.test
/Penn-Treebank-20/English/0003.test
/Penn-Treebank/English/0003.train
/Penn-Treebank-20/English/0003.train
/Penn-Treebank/English/0004.dev
/Penn-Treebank-20/English/0004.dev
/Penn-Treebank/English/0004.test
/Penn-Treebank-20/English/0004.test
/Penn-Treebank/English/0004.train
/Penn-Treebank-20/English/0004.train
/Penn-Treebank/English/0005.dev
/Penn-Treebank-20/English/0005.dev
/Penn-Treebank/English/0005.test
/Penn-Treebank-20/English/0005.test
/Penn-Treebank/English/0005.train
/Penn-Treebank-20/English/0005.train
/Penn-Treebank/English/0006.dev
/Penn-Treebank-20/English/0006.dev
/Penn-Treebank/English/0006.test
/Penn-Treebank-20/English/0006.test
/Penn-Treebank/English/0006.train
/Penn-Treebank-20/English/0006.train
/Penn-Treebank/English/0007.dev
/Penn-Treebank-20/English/0007.dev
/Penn-Treebank/English/0007.test
/Penn-Treebank-20/English/0007.test
/Penn-Treebank/English/0007.train
/Penn-Treebank-20/English/0007.train
/Penn-Treebank/English/0008.dev
/Penn-Treebank-20/English/0008.dev
/Penn-Treebank/English/0008.test
/Penn-Treebank-20/English/0008.test
/Penn-Treebank/English/0008.train
/Penn-Treebank-20/English/0008.train
/Penn-Treebank/English/0009.dev
/Penn-Treebank-20/English/0009.dev
/Penn-Treebank/English/0009.test
/Penn-Treebank-20/English/0009.test
/Penn-Treebank/English/0009.train
/Penn-Treebank-20/English/0009.train
/Penn-Treebank/English/0010.dev
/Penn-Treebank-20/English/0010.dev
/Penn-Treebank/English/0010.test
/Penn-Treebank-20/English/0010.test
/Penn-Treebank/English/0010.train
/Penn-Treebank-20/English/0010.train
/src/asciifier.cache
/src/deasciifier.cache
/src/dictionary.cache
/src/framenet.cache
/src/fsm.cache
/src/propbank1.cache
/src/propbank2.cache
/src/sentiliteralnet.cache
/src/sentinet.cache
/src/wordnet1.cache
/src/wordnet2.cache
/.idea/jsLibraryMappings.xml
/.idea/laravel-idea.xml
/package.xml
/Penn-Treebank/Turkish2/0000.dev
/Penn-Treebank-20/Turkish2/0000.dev
/Penn-Treebank/Turkish2/0000.test
/Penn-Treebank-20/Turkish2/0000.test
/Penn-Treebank/Turkish2/0000.train
/Penn-Treebank/Turkish2/0001.dev
/Penn-Treebank-20/Turkish2/0001.dev
/Penn-Treebank/Turkish2/0001.test
/Penn-Treebank-20/Turkish2/0001.test
/Penn-Treebank/Turkish2/0001.train
/Penn-Treebank-20/Turkish2/0001.train
/Penn-Treebank/Turkish2/0002.dev
/Penn-Treebank-20/Turkish2/0002.dev
/Penn-Treebank/Turkish2/0002.test
/Penn-Treebank-20/Turkish2/0002.test
/Penn-Treebank/Turkish2/0002.train
/Penn-Treebank-20/Turkish2/0002.train
/Penn-Treebank/Turkish2/0003.dev
/Penn-Treebank/Turkish2/0003.test
/Penn-Treebank-20/Turkish2/0003.test
/Penn-Treebank/Turkish2/0003.train
/Penn-Treebank-20/Turkish2/0003.train
/Penn-Treebank/Turkish2/0004.dev
/Penn-Treebank-20/Turkish2/0004.dev
/Penn-Treebank/Turkish2/0004.test
/Penn-Treebank-20/Turkish2/0004.test
/Penn-Treebank/Turkish2/0004.train
/Penn-Treebank-20/Turkish2/0004.train
/Penn-Treebank/Turkish2/0005.dev
/Penn-Treebank-20/Turkish2/0005.dev
/Penn-Treebank/Turkish2/0005.test
/Penn-Treebank/Turkish2/0005.train
/Penn-Treebank-20/Turkish2/0005.train
/Penn-Treebank/Turkish2/0006.dev
/Penn-Treebank-20/Turkish2/0006.dev
/Penn-Treebank/Turkish2/0006.test
/Penn-Treebank-20/Turkish2/0006.test
/Penn-Treebank/Turkish2/0006.train
/Penn-Treebank-20/Turkish2/0006.train
/Penn-Treebank/Turkish2/0007.dev
/Penn-Treebank-20/Turkish2/0007.dev
/Penn-Treebank/Turkish2/0007.test
/Penn-Treebank/Turkish2/0007.train
/Penn-Treebank-20/Turkish2/0007.train
/Penn-Treebank/Turkish2/0008.dev
/Penn-Treebank-20/Turkish2/0008.dev
/Penn-Treebank/Turkish2/0008.test
/Penn-Treebank-20/Turkish2/0008.test
/Penn-Treebank/Turkish2/0008.train
/Penn-Treebank-20/Turkish2/0008.train
/Penn-Treebank/Turkish2/0009.dev
/Penn-Treebank/Turkish2/0009.test
/Penn-Treebank-20/Turkish2/0009.test
/Penn-Treebank/Turkish2/0009.train
/Penn-Treebank/Turkish2/0010.dev
/Penn-Treebank-20/Turkish2/0010.dev
/Penn-Treebank/Turkish2/0010.test
/Penn-Treebank-20/Turkish2/0010.test
/Penn-Treebank/Turkish2/0010.train
/Penn-Treebank-20/Turkish2/0010.train
